* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, 
button {
    outline: 0;
}

.content{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

div.wrapper-content{
    display: flex;

}

div.wrapper-content aside.sidebar{
    width: 260px;
}

div.wrapper-content aside.sidebar ul{
    margin-top: 20px;
    list-style: none;
}

div.wrapper-content aside.sidebar ul.list li{
    font-size: 14px;
    color:#657786;
    
    display:flex;
    align-items: center;
    margin-top:20px;
}

div.wrapper-content aside.sidebar ul.list li:first-child{
    margin-right: 0;
}

div.wrapper-content aside.sidebar ul.list li a{
    margin-right: 10px;
    text-decoration: none;
    margin-top: 10px;
}

div.wrapper-content aside.sidebar ul.list li a:hover{
	color:#FFD23F;
	text-decoration: underline;
}

div.wrapper-content aside.sidebar ul.list li a img{
    margin-right: 10px;
}

div.wrapper-content aside.sidebar .widget{
    margin-top: 20px;
}

div.wrapper-content aside.sidebar .widget strong{
    font-weight: normal;
    color: #3BB9E3;
    font-size: 14px;
    display: flex;
    align-items: center;
}

div.wrapper-content aside.sidebar .widget strong img{
    margin-right: 5px;
}

div.wrapper-content aside.sidebar .followers ul { 
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    align-items: flex-start;
}

div.wrapper-content aside.sidebar .followers ul li{ 
    width: 45px;
    height: 45px;
    background: #d0d5d9;
    border-radius: 50%;
    flex: 1 0 auto;
    margin: 0 5px 5px 0;
}

div.wrapper-content aside.sidebar .images ul { 
    list-style: none;
    display:flex;
    flex-wrap:wrap;
}

div.wrapper-content aside.sidebar .images ul li{ 
    width: 80px;
    height: 80px;
    background: #d0d5d9;
    border-radius: 8px;
    flex:1 0 auto;
    margin: 0 5px 5px 0;
}

div.wrapper-content aside.sidebar button{ 
    height: 52px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 220px;
    font-weight:bold;
    font-size:20px;
    color:#000000;
    background:#FFD23F;
    border:1px solid #FFD23F;
    border-radius: 30px;
}


div.wrapper-content aside.sidebar .profile{
    display: flex;
    position: fixed;
    flex: 1 0 auto;
    align-items: center;
    margin-top: 390px;
    width:150px;
    height: 90px;

}  

div.wrapper-content aside.sidebar .profile img{
    width:40px;
    height: 40px;
    border-radius: 50%; 
}  

div.wrapper-content aside.sidebar .profile .info{
    margin-left:10px;
    display:flex;
    flex-direction:column;
}

div.wrapper-content aside.sidebar .profile .info strong{
    font-size: 14px;
    color: #1f2326;
}

div.wrapper-content aside.sidebar .profile .info strong span{
    font-weight: normal;
    color: #9a9a9a;
}

div.wrapper-content aside.sidebar .profile .more button{
    width:20px;
    height: 10px;
    background: #fff;
    border:none;
    margin: 5px 20px;
}

div.wrapper-content aside.sidebar .profile .more button img{
    width:14px;
    height: 8px;
}


/*************timeline***********************/

div.wrapper-content .timeline{
    flex:1;
    background: #FFF;
    margin: 10px 20px 0;
    border-left: 1px solid #e6ecf0; 
    border-right: 1px solid #e6ecf0;
}

div.wrapper-content .timeline nav{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
}

div.wrapper-content .timeline nav a{
    text-decoration: none;
    color:#1f2226;
    font-size:18px;
    font-weight:bold;
    margin-left: 20px;
}

div.wrapper-content .timeline nav a:first-child{
    margin:0;
}

div.wrapper-content .timeline .container{
    display: flex;
    border-bottom: 10px solid #e6ecf0;
    width: 100%;
    height: 160px;
}

div.wrapper-content .timeline .container img.avatar{
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 10px;
}

div.wrapper-content .timeline .container form .text textarea{
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 20px;
    width: 500px;
    height: 70px;
    margin: 15px 5px 5px 5px;
    border: none;
    outline: 0;
    resize: none;
}

div.wrapper-content .timeline .container form .text span{
    font-size: 14px;
    color:#7b8b9a;
}

div.wrapper-content .timeline .container button{
    width: 75px;
    height: 30px;
    border-radius: 30px;
    color:#1f2226;
    background:#FFD23F;
    font-weight:bold;
    font-size:14px;
    margin: 0px 0px 0px 420px;
    border: none;
}

div.wrapper-content .timeline .container form ul{
    position: relative;
    list-style:none;
    color:#FFD23F;
    margin: -47px 60px;
    font-size:14px ;
    font-weight: bold;
}

div.wrapper-content .timeline ul.pius{
    list-style:none;
}

.pius{
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; 
    height: 100%;
    width: 500px;
    
}

.piu{
    border-bottom: 1px solid #e6ecf0;
    display: flex;
    flex-direction: row;
    margin: auto 10px;
    order:0;
}

div.wrapper-content .timeline ul li.highlight-post{
    
    font-weight: bold;
    font-style: italic;
    order:1;
}

div.wrapper-content .timeline ul li.highlight-post::after{
    content: "â­";
    width: 10px;
    height:10px;
    color: #FFD23F;
}
.info-avatar{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 5px 5px;
}

.info{
    margin-left:10px;
    display:flex;
    flex-direction: column;
    flex: 0 1 auto;

}

.info-name{
    font-size:14px;
    color:#1f2226;
}

.info-user{
    font-size:13px;
    color: #7b8b9a;
    font-weight: normal;
}

.info-message{
    font-size:14px;
    columns: #1f2326;
    margin-top: 5px;
    word-wrap: break-all;
    text-align: justify;
    margin: 10px 0;
}

.actions{
    display:flex;
    margin:10px -28px;
    
}

.actions button{
    display:flex;
    align-items: center;
    color:#667580;
    font-weight:bold;
    font-size:12px;
    margin-left: 30px;
    background: none;
    border: none;
    order:1;
}


.icon{
    order:0;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
}
.icon:hover{
    width: 80%;
    transition: 100ms;
    background:#FFD23F;
    border-radius: 50%;
}


/*
.interact{
    
}
*/
div.wrapper-content aside.widgets .search-box{
    width: 240px;
    height: 40px;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    background:#E6ECF0;
}

div.wrapper-content aside.widgets .search-box input{
    width: 80%;
    color: #657786;
    background: none;
    border: none;
}

div.wrapper-content aside.widgets .search-box input::placeholder{
    margin-left: 5px;
}

div.wrapper-content aside.widgets{
    width: 290px;
    margin-top:10px;
}

div.wrapper-content aside.widgets .widget{
    background: #fff;
    padding: 15px;
}

div.wrapper-content aside.widgets .widget .title{
    display:flex;
    align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong{
    font-size: 20px;
    color:#1f2226;
}

div.wrapper-content aside.widgets .widget .title a::before{
    content:'';
    width: 2px;
    height: 2px;
    border-radius:50%;
    background:#222;
    position: absolute;
    left:4px;
    top:6px;
}    

div.wrapper-content aside.widgets .follow ul{
    list-style:none;
    margin-top: 10px;
}    

div.wrapper-content aside.widgets .follow ul li{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #ccd6dd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}  

div.wrapper-content aside.widgets .follow ul li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}
div.wrapper-content aside.widgets .follow ul li .profile{
    display: flex;
    align-items: center;
}  

div.wrapper-content aside.widgets .follow ul li .profile img{
    width:48px;
    height: 48px;
    border-radius: 50%; 
}  

div.wrapper-content aside.widgets .follow ul li .profile .info{
    margin-left:10px;
    display:flex;
    flex-direction:column;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong{
    font-size: 14px;
    color: #1f2326;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span{
    font-weight: normal;
    color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button{
    height: 27px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    font-weight:bold;
    font-size:14px;
    color:#1f2326;
    background: #FFD23F;
    border:1px solid #FFD23F;
    border-radius: 16px;
}


div.wrapper-content aside.widgets .follow ul li > a{
    color: #ccd6dd;
    text-decoration: none;
    font-size: 14px;
}

/* Aviso de erro*/
.limite{
    color:#d80808;
}

.invisible{
    display: none;
}
